## list
alias ll="ls -ahlF"

## git alias
# https://github.com/davidoort/setup/blob/master/ubuntu/files/.aliases
alias gs="git status"
alias push="git push"
alias pull="git pull"
alias checkout="git checkout"
# https://sweetme.at/2013/09/13/git-logs-with-color/
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias gd="git diff"
alias ga="git add -A"
alias gc="git commit -m "
alias gsoft="git reset --soft "

## other alias
alias rosws="echo $ROS_PACKAGE_PATH"
alias rc="vi ~/.bashrc && source ~/.bashrc" # open bashrc and source

# https://www.zhihu.com/question/22636025/answer/680066976
# 好用的gpu监控工具，彩色版的nvidia-smi，命令有点长，果断alias
alias gpus='gpustat -cpui'
# reload bash 重新载入bash
alias rl='exec bash'

## Test
alias ..="cd .."
# https://askubuntu.com/a/184398
# xclip : Can't open display: (null), issue: https://github.com/microsoft/WSL/issues/4933
# xsel : Can't open display: (null), : Inappropriate ioctl for device
# alias copy='xclip -sel clip'
# inspired by https://www.zhihu.com/question/21418449/answer/91817026
# alias gcid="git log | head -1 | awk '{print substr(\$2,1,7)}' | copy"

## utility function
mkcd() { mkdir -p "$@" && cd "$@"; }

# https://stackoverflow.com/a/53286129
backupfolder() { tar -zcvf "${1}_$(date '+%Y-%m-%d').tar.gz" "$1"; }

# https://askubuntu.com/a/563366
subsize() { du -hsc "$@" | sort -hr; }

# https://gist.github.com/jacius/202439
# https://superuser.com/questions/43891/map-untar-to-tar-xvfz
decompress() {
    if [ -f $1 ]; then
        case $1 in
        *.tar.bz2) tar xvjf $1 ;;
        *.tar.gz) tar xvzf $1 ;;
        *.bz2) bunzip2 $1 ;;
        *.rar) unrar x $1 ;;
        *.gz) gunzip $1 ;;
        *.tar) tar xvf $1 ;;
        *.tbz2) tar xvjf $1 ;;
        *.tgz) tar xvzf $1 ;;
        *.zip) unzip $1 ;;
        *.Z) uncompress $1 ;;
        *.7z) 7z x $1 ;;
        *) echo "Unable to extract '$1'" ;;
        esac
    else
        echo "'$1' is not a valid file"
    fi
}
